/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/red-hat-text-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/red-hat-text-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/red-hat-text-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/red-hat-text-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  /* Typography */
  --font-primary: "Red Hat Text", sans-serif;

  --font-size-preset-1: 5.6rem; /* 56px */
  --line-height-preset-1: 1.209; /* 120.9% line-height */
  --letter-spacing-preset-1: 0;

  --font-size-preset-2: 2.4rem; /* 24px */
  --line-height-preset-2: 1.25; /* 125% line-height */
  --letter-spacing-preset-2: 0;

  --font-size-preset-3: 1.6rem; /* 16px */
  --line-height-preset-3: 1.5; /* 150% line-height */
  --letter-spacing-preset-3: 0;

  --font-size-preset-4: 1.4rem; /* 14px */
  --line-height-preset-4: 1.5; /* 150% line-height */
  --letter-spacing-preset-4: 0;
}

body {
  font-family: "Red Hat Text";
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

.btn {
  border-radius: 999px;
  cursor: pointer;
}

.container {
  max-width: 1276px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 67.5% calc(32.5% - 3.2rem);
  gap: 3.2rem;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

@media (max-width:700px) {
  .grid-container{
    grid-template-columns: 1fr;
  }
}

.desserts-title {
  font-size: var(--font-size-preset-1);
  line-height: var(--line-height-preset-1);
  margin-bottom: 3.2rem;
}

.desserts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250.67px, 1fr));
  gap: 2.4rem;
}

.dessert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dessert-card-image {
  width: 100%;
  border-radius: 0.8rem;
}

.button-wrapper {
  align-self: center;
  margin-top: -22.8px;
  margin-bottom: 1.6rem;
}

.add-to-card-btn {
  border: 2px solid var(--color-red);
  padding: 1.2rem 2.8rem;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 999px;
}

.add-to-card-btn:hover {
  border-color: var(--color-red);
}

.add-to-card-btn:hover .add-to-card-btn-wrapper {
  color: var(--color-red);
}

.add-to-card-btn-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: 600;
}

.desserts-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.dessert-card-category {
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}

dessert-card-name {
  font-size: 1.6rem;
  color: rgba(38, 15, 8, 1);
  font-weight: 600;
}
.dessert-card-price {
  font-size: 1.6rem;
  color: var(--color-red);
  font-weight: 600;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  background-color: #c7380f;
  padding: 1.2rem;
  border-radius: 999px;
}
.amout-btn {
  border: none;
  background-color: transparent;
  padding: 3.12px 8.75px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 990px;
  border: 2px solid;
  border-color: #ffffff;
}

.btn__df {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn__amout__text {
  color: #ffffff;
  font-size: var(--font-size-preset-3);
}

body {
  background-color: #fcf8f6;
}

.your__content {
  background-color: #ffffff;
  padding: 2rem;
}
.your__card__amout {
}
.your__not__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}
.your__not__card__img {
}
.your__not__card__text {
  color: var(--color-rose-500);
}

.your__card__ul {
}
.your__card__amout {
  color: var(--color-red);
}
.your__card__price {
  color: var(--color-rose-400);
}
.your__card__all__price {
  color: var(--color-rose-400);
}
.your__card__title__df {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.your__card__img__title__df {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li,
ul {
  list-style: none;
}

.your__card__li{
  margin-top: 2.4rem;
}

.your__card__delivey{
  margin-top: 4rem;
  background: #FCF8F6;
  padding: 16.5px 51px;
}

.your___card__button{
  padding: 16px 113px;
  background-color: var(--color-red);
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: var(--font-size-preset-4);
}

.your__footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.modal__content{
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.modal-header h2 {
  color: #333;
}

.order-items {
  margin-top: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.item-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.item-details h3 {
  font-size: 16px;
  color: #333;
}

.item-total {
  font-weight: bold;
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.new-order-btn {
  background: #cf0d0d;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.new-order-btn:hover {
  background: var(--color-red);
}
